<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xr.happyFamily">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <!-- 锁屏显示界面 -->
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 更改设置 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />

    <application
        android:name=".jia.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app"
        android:label="P99"
        android:roundIcon="@mipmap/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="icon,label,theme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hm.camerademo.fileprovider2"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="57bea7cd7ce34ab79dc987f0ff6a222b" />

        <service android:name="com.amap.api.location.APSService" />
        <service
            android:name=".together.util.mqtt.MQService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".together.util.mqtt.ClockService"
            android:enabled="true"
            android:exported="true"
            android:persistent="true" />

        <receiver
            android:name=".together.util.receiver.MQTTMessageReveiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="mqttmessage2" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="kjgCMxtnMYdDenel3guWudC3zwThNsPR" />

        <activity
            android:name=".login.login.qdActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".le.BDmapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.login.GuideActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".le.MapActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.login.LoginActivity" />
        <activity
            android:name=".zhen.AboutActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.xnty.CsjActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.login.ThirdLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.RenameHourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".le.BtClock.addTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".le.BtClock.bjTimeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.xnty.HeaterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".le.BtClock.clockRingActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".le.BtClock.bqOfColckActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.ManageHourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.ChooseHourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".jia.xnty.ZnWdActivity" />
        <activity
            android:name=".jia.AddhourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.ManagementActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.ChangeEquipmentActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.activity.AddDeviceActivity"
            android:screenOrientation="portrait" />

        <receiver
            android:name=".le.BtClock.RingReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.zking.android29_alarm_notification.RING" />
            </intent-filter>
        </receiver>

        <activity
            android:name=".main.MainActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.activity.ShareDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".jia.activity.DeviceDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.rigest.ForgetPswdActivity"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.xnty.AircleanerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.xnty.Smartsj"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.xnty.AirConditionerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".login.rigest.RegistActivity" />
        <activity
            android:name=".jia.xnty.SmartSocket"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.xnty.ZnczListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.HourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.rigest.RegistFinishActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".jia.ChangeRoomActivity" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 这地方的222222需要用你在开放平台申请的appid替换 -->
                <data android:scheme="tencent222222" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".jia.activity.QRScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.xnty.WaterPurifierActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bao.ShopXQActivity3"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bao.FuWuActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bao.ShopCartActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.WuLiuActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.ShopAddressActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.ShopAddAddressActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.ShopConfActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.ShopDingdanActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        />
        <activity
            android:name=".bao.ShopSearchActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.ShopShangchengActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.ShopDingdanXQActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.ShopSearchResultActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.EditAddressActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.TuiKuanActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.TuiKuanXQActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.PingLunActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.PingLunSuccessActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.WoDePingLunActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.TuiKuanSuccessActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.PaySuccessActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.PayFailActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".bao.alipay.PayActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".wxapi.WXPayActiviy"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="wx44acbeed9571e8cf" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".le.FaBuActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible|adjustPan" />
        <activity
            android:name=".le.XuYuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.XQActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.PiPeiActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.YouYuanActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.MsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.HistoryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.ClockActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.clock.QinglvEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.clock.QunzuEditActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.clock.QinglvAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.clock.QunzuAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.clock.MsgActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zhen.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zhen.PersonInfoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.activity.SmartTerminalActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.activity.SmartLinkedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.clock.FriendFindActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.clock.FriendAddActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zhen.AccountActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zhen.ReSetpswdActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".zhen.HelpActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".le.clock.MusicActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.lzy.imagepicker.ui.ImagePreviewDelActivity"
            android:screenOrientation="portrait"
            android:theme="@style/ImagePickerThemeFullScreen" />
        <activity
            android:name=".jia.activity.TempChatActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.activity.SocketActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.activity.PurifierActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.activity.UseWaterRecordActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.LiveActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.activity.APurifierActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.activity.AConfActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.activity.AConfStateActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".jia.activity.DehumidifierActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>