<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.xr.happyFamily">

    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- 拍照权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- Normal Permissions 不需要运行时注册 -->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission
        android:name="android.permission.CHANGE_CONFIGURATION"
        tools:ignore="ProtectedPermissions" />

    <!-- 请求网络 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入缓存定位数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 读取缓存数据 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 用于读取手机当前的状态 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- 更改设置 -->
    <uses-permission
        android:name="android.permission.WRITE_SETTINGS"
        tools:ignore="ProtectedPermissions" />

    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <!-- 3.2.0版本增加 -->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位 -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />

    <!-- 不是SDK需要的权限，是示例中的后台唤醒定位需要的权限 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 需要运行时注册的权限 -->
    <!-- 用于进行网络定位 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于访问GPS定位 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 用于提高GPS定位速度 -->
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:name=".jia.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/app"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/app"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.hm.camerademo.fileprovider2"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="57bea7cd7ce34ab79dc987f0ff6a222b" />

        <service android:name="com.amap.api.location.APSService" />
        <service
            android:name=".together.util.mqtt.MQService"
            android:enabled="true"
            android:exported="true" />

        <receiver
            android:name=".together.util.receiver.MQTTMessageReveiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="mqttmessage2" />
            </intent-filter>

        </receiver>

        <activity android:name=".login.login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <data android:scheme="tencent100371282" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>


        </activity>

        <!--注册静态广播-->
        <receiver android:name=".le.BtClock.RingReceiver"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.zking.android29_alarm_notification.RING">

                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".login.login.wxapi.WXEntryActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait" />
        <service
            android:name=".together.util.mqtt.MQService"
            android:enabled="true"
            android:exported="true" />

        <activity
            android:name=".jia.xnty.CsjActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".le.BtClock.bqOfColckActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".le.BtClock.addTimeActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.ManageHourseActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".le.BtClock.bjTimeActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.xnty.HeaterActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".le.BtClock.clockRingActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.ChooseHourseActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".jia.xnty.ZnWdActivity" />
        <activity
            android:name=".jia.MenuActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".jia.AddEquipmentActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.AddhourseActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".jia.ManagementActivity" />
        <activity android:name=".jia.ChangeEquipmentActivity" />
        <activity android:name=".jia.activity.AddDeviceActivity" />


        <receiver android:name=".le.BtClock.RingReceiver"
            android:enabled="true"
            android:exported="true"
            >
            <intent-filter>
                <action android:name="com.zking.android29_alarm_notification.RING">

                </action>
            </intent-filter>
        </receiver>

        <activity
            android:name=".main.MainActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name" />
        <activity
            android:name=".jia.activity.ShareDeviceActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.activity.DeviceDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.rigest.ForgetPswdActivity"
            android:hardwareAccelerated="true"
            android:label="@string/app_name" />
        <activity
            android:name=".jia.MyPaperActivity"
            android:label="@string/app_name" />
        <activity
            android:name=".jia.xnty.AircleanerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.xnty.Smartsj"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.xnty.AirConditionerActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.rigest.RegistActivity"
            android:label="@null" />
        <activity
            android:name=".jia.xnty.SmartSocket"
            android:label="@null"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.xnty.ZnczListActivity"
            android:label="@null"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.HourseActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.AddRoomActivity"
            android:label="@null"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".login.rigest.RegistFinishActivity"
            android:label="@null"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.ChangeRoomActivity"
            android:label="@null" />
        <activity
            android:name=".jia.HomepageActivity"
            android:label="@null" />
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- 这地方的222222需要用你在开放平台申请的appid替换 -->
                <data android:scheme="tencent222222" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".jia.activity.QRScannerActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".jia.xnty.WaterPurifierActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bao.ShopXQActivity"
            android:label=""
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bao.FuWuActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".bao.TestActivity" />
        <activity
            android:name=".bao.ShopCartActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.WuLiuActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.ShopAddressActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.ShopAddAddressActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.ShopConfActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.ShopDingdanActivity"
            android:launchMode="singleTop" />/>
        <activity
            android:name=".bao.ShopSearchActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".bao.ShopShangchengActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.ShopDingdanXQActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.ShopSearchResultActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.EditAddressActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.TuiKuanActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".bao.TuiKuanXQActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.PingLunActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".bao.PingLunSuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.WoDePingLunActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.TuiKuanSuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.PaySuccessActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.PayFailActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".bao.alipay.PayActivity"
            android:launchMode="singleTop" />
        <activity
            android:name=".wxapi.WXPayActiviy"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:scheme="wx44acbeed9571e8cf"/>
            </intent-filter>
        </activity>

        <activity android:name=".le.PageActivity">

        </activity>

        <activity android:name=".le.FaBuActivity"
            android:windowSoftInputMode="stateVisible|adjustPan"
            android:screenOrientation="portrait">

        </activity>



        <!--<activity android:name=".le.BtClock.addTimeActivity" />-->
        <activity android:name=".le.clock.QinglvAddActivity" />
        <activity android:name=".le.clock.QunzuAddActivity" />
        <activity android:name=".le.clock.FriendFindActivity" />
        <activity android:name=".le.clock.MsgActivity"
            android:launchMode="singleTask"/>
        <activity android:name=".le.clock.FriendAddActivity" />
        <activity android:name=".le.clock.QunzuEditActivity" />
        <activity android:name=".le.clock.QinglvEditActivity" />
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity android:name=".le.XuYuanActivity" />
        <activity android:name=".le.XQActivity" />
        <activity android:name=".le.PiPeiActivity" />
        <activity android:name=".le.YouYuanActivity" />
        <activity android:name=".le.MsgActivity" />
        <activity android:name=".le.HistoryActivity" />
        <activity android:name=".le.ClockActivity" />
        <activity android:name=".zhen.SettingActivity" />
        <activity android:name=".zhen.PersonInfoActivity"/>
    </application>

</manifest>